<a href="https://colab.research.google.com/github/DasMorakel/Module1/blob/main/PythonPractice_20230127_endofsession.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a brief overview of basics concepts of Python programming

**Topics:**

1. Syntax, comments, operations
2. Workflow & Indentation
3. True, False
4. Conditions: IF, ELSE, ELIF
5. Variable Types 
6. Lists
7. Strings
8. Tuples
9. Dictionaries
10. DataFrames
11. Loops
12. Functions

Helpfull links:



*   https://www.datacamp.com/
*   https://stackoverflow.com/
*   https://www.w3schools.com/python/default.asp
*   https://pynative.com/python/
*   https://www.programiz.com/python-programming

# 1.&nbsp;Syntax

This is a text section

In [ ]:
# Comment

# This is a comment !

Function

In [ ]:
print()

The *print()* function prints the specified message to the screen, or other standard output device.

The message can be a string, or any other object, the object will be converted into a string before written to the screen.

In [ ]:
# to display the string 'Hello world' use the function print()

# as Hello world is a string you have to add single or double quotations marks

print('Hello world')

In [ ]:
# numbers

print(2)

In [1]:
# operations / calculation

print(2+3)

5

In [ ]:
2+3

In [ ]:
2+4
print(2+3)
print(1*8)

In [ ]:
# string/text ==> quotation marks: single or double

print('This is a string')
print("This is a string")

In [ ]:
# variables

# to assign a value use the symbol =
# assign a numerical variables

x=2
y=3

print(x)
print(y)
print(x, y)

In [ ]:
# make operations with assigned variables

x+y

In [ ]:
# assign a 'text' value to a variable
# make operations with strings

string1='love'
string2='data'

print(string1)
print(string2)

# concatenate them
print(string1 + string2)

In [ ]:
# add a space
print(string1 + ' ' + string2)

# 2.&nbsp;Workflow & Indentation

Workflow is the series of activities that are necessary to complete a task

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code. The standard Python indentation is 4 spaces, although tabs and any other space size will work, as long as it is consistent.

In [ ]:
# Python will give you an error if you skip the indentation:

a=5
b=2

if a > b:
print("a is greater than b !")

In [ ]:
# the correct way to use indentation
# ends with a colon (:)

a=5
b=2

if a > b:
  print("a is greater than b !")

# 3.&nbsp;True, False

In [ ]:
# Boolean True, False

# If a statement is correct then it will return True
# IF the statement is NOT correct , it will return False
# use == symbol

a=1
b=2
c=1

print(a==b)

In [ ]:
print(a==c)

# 4.&nbsp; Condition: IF, ELSE, ELIF

In [ ]:
# IF the statement is true then..do something

x = 1

if x > 0:
  print('x is grater then 0')

In [ ]:
x = -2

if x > 0:
  print('x is greater then 0')

In [ ]:
# IF the statement is true then..do something, ELSE otherwise do something else

x= -3
if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

In [ ]:
x=0

if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

In [ ]:
if x>0:
  print('x is grater then 0')
elif x==0:
  print('x is equal to 0')
else:
  print('x is less then 0')

## IF, ELIF, ELSE Practice ***

Write a code to return the evaluation of a variable called "grade". 
The grade has to be a numerical variable from 1 to 10.
>If the grade is below 5 return "You failed".

>If the grade is between 5 and 8 included return "You passed"

>If the grade is over 8 then return "You excelled"

Hint:


1.   create a variable called grade, and give it a randome value from 1 to 10
2.   Then imagine possible scenarios of what value that variable can get, to correctly use IF, ELIF, ELSE

grade = ???

if grade ??? 5:

____print(????)

elif grade ??? 5 and ????:

____print(????)

else:
____????

# 5.&nbsp;Variable types

## Integer

In [ ]:
# integer
age = 7
print(type(age))

##Float

In [ ]:
# float
age = 7.5
print(type(age))

## String

In [ ]:
# str
name = 'Jessica'
print(type(name))

In [ ]:
# Definition of pi_string
pi_string = "3.1415926"
print('the type of pi_string variable: ', type(pi_string))
print('the value of pi_string variable: ', pi_string)
print('')

In [ ]:
# convert string to float
pi_float= float(pi_string)
print('the type of pi_float variable: ', type(pi_float))
print('the value of pi_float variable: ', pi_float)
print('')

In [ ]:
# convert float to integer
pi_int= int(pi_float)
print('the type of pi_int variable: ', type(pi_int))
print('the value of pi_int variable: ', pi_int)
print('')

More about convertion of string and int
https://realpython.com/convert-python-string-to-int/

##Tuple

In [ ]:
# tuple
name_age = (name, age)
print(name_age)
print(type(name_age))

## Date

In [ ]:
# date
date = '2022-12-31' # separated by hyphens
print(date)
print(type(date))

In [ ]:
#to convert a string into date we first need to import datetime module

# import datetime package from datetime module
from datetime import datetime

datetime_str = '09/19/18 13:55:26'

datetime_object = datetime.strptime(datetime_str, '%m/%d/%y %H:%M:%S')

print(type(datetime_object))
print(datetime_object)  # printed in default format

In [ ]:
# if we want to omitt time (hous, minutes, seconds)
date = '2022-12-31'

print(datetime.strptime(date, '%Y-%m-%d'))
print('')

# import datetime package from datetime module
datetime_object = datetime.strptime(date, '%Y-%m-%d').date()
print(type(datetime_object))
print(datetime_object)

More about date conversion
https://www.digitalocean.com/community/tutorials/python-string-to-datetime-strptime

# 6.&nbsp;Lists

## List creation

In [3]:
# Using list constructor
my_list1 = list((1, 2, 3,4))
print(my_list1)

[1, 2, 3, 4]

In [4]:
# create a list
our_list = ["a","b","c", 1, 1.5]
print('the type of our_list', type(our_list))
print(our_list)

the type of our_list <class 'list'>
['a', 'b', 'c', 1, 1.5]

## Append an element

In [6]:
# append an element to the list

our_list.append("d") # it will append 'd' at the end of the list
print(our_list)

['a', 'b', 'c', 1, 1.5, 'd', 'd']

## Index and Slicing

The items in a list can be accessed through indexing and slicing. This section will guide you by accessing the list using the following two ways



*   **Using indexing**, we can access any item from a list using its index number
*   **Using slicing** , we can access a range of items from a list

Index

In [7]:
# access element in the list

# list indexing starts a 0

# access first element in the list
our_list[0]

'a'

In [ ]:
# access last element in the list
our_list[-1]

In [9]:
# negative index: the seconf element from the end of the list

our_list[-2]

'd'

In [8]:
# access the 3rd element of the list

print(our_list)
our_list[2] # because our first index is 0

['a', 'b', 'c', 1, 1.5, 'd', 'd']

'c'

Slicing

In [11]:
# the first 2 elements

print(our_list)
print(our_list[2])
our_list[:2]

['a', 'b', 'c', 1, 1.5, 'd', 'd']
c

['a', 'b']

In [12]:
# Stating from 2nd item to last item ==> ['c', 1, 1.5, 'd']

print(our_list)
print(our_list[2:]) # not that here the lower limit is included

['a', 'b', 'c', 1, 1.5, 'd', 'd']
['c', 1, 1.5, 'd', 'd']

In [14]:
# access the sublist c to 1.5 ==> ['c', 1, 1.5]

print(our_list)
print(our_list[2])
print(our_list[4])

['a', 'b', 'c', 1, 1.5, 'd', 'd']
c
1.5

In [13]:
our_list[2:4] # note that upper limit is not included

['c', 1]

In [15]:
our_list[2:5] # we have to add +1 to upper limit if we want to include 1.5

['c', 1, 1.5]

##Length

In [16]:
# length of the list
len(our_list)

7

## Insertions

In [19]:
# insert an element in the list at 1st position

our_list.insert(0, "First element") # instert before 1st element
print(our_list)

['First element', 'a', 'b', 'c', 1, 1.5, 'd', 'element', 'd']

In [17]:
# insert an element in the list before the last one

our_list.insert(-1,"element") # instert before last element
print(our_list)

['a', 'b', 'c', 1, 1.5, 'd', 'element', 'd']

## Remove

In [21]:
# remove element
our_list.remove("First element")
print(our_list)

ValueError: ignored

In [22]:
# remove element by its index

our_list.pop(0)
print(our_list)

['b', 'c', 1, 1.5, 'd', 'element', 'd']

## Nested List

In [23]:
# we can have nested lists

nested_list = [[1,2,3],6,7,5]
print(nested_list)

[[1, 2, 3], 6, 7, 5]

In [24]:
# length of nested ==> the list within my_list [1, 2, 3] will be considered a single element
len(nested_list)

4

In [25]:
# access 1st element of nested list
nested_list[0]

[1, 2, 3]

In [26]:
# access 2nd element of nested list
nested_list[1]

6

In [ ]:
# access an element from a list within the nested list 2
nested_list[0][1]

More about lists https://pynative.com/python-lists/

## List Practice ***

In [ ]:
# create a list called 'my_list' with elements 'John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30

my_list= ['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30]

# how many elements my_list has ?


# append 'Bill' to the list and check now its length


# return 'John'


# return 'Bill'


# return 34


# return John and Emma


# return Emma, 10, 5


# return Tom, 34, 30, Bill


# insert an element 'Julia' in the list at 2nd position



# insert an element 'Anna" in the list before 30



# remove element 'Emma' (2 ways to remove it)
#my_list.remove("Emma")


## OR 


# append a new list [Sarah, 42, Jerry] ==> to obtain a nested list



# return 'Sarah'

# 7.&nbsp;Strings

In [ ]:
string_a = 'text'
string_a

In [ ]:
string_b = 'This is a '
string_b

In [ ]:
string_b + string_a

In [ ]:
string_c = string_b + string_a
string_c

In [ ]:
string_c.lower()

In [ ]:
string_c.upper()

In [ ]:
# access a string
string_c[0]

In [ ]:
# length (the space is counted a 1)
len(string_c)

In [ ]:
# splitting strings
string_d = "Derrick-Matt-Jessica"
print(string_d)

In [ ]:
# Split a string into a list where each word is a list item, use split() function
# split by hyphen

print(string_d.split("-"))

More about splitting strings https://www.w3schools.com/python/ref_string_split.asp

More about strings manipulations https://www.w3schools.com/python/python_ref_string.asp

https://www.programiz.com/python-programming/string

# 8.&nbsp;Tuples

A tuple is a collection which is ordered and unchangeable (imuatable)
.

In [31]:
tuple_a = ('Dog', 'Cat', 'Frog')

In [32]:
# inmutable
tuple_a.append('Mouse')

AttributeError: ignored

In [ ]:
# ordered

tuple_a[0]

More about Tuples https://www.w3schools.com/python/python_tuples.asp

# 9.&nbsp;Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [33]:
# a dictionary is made of keys and values
# dictionary have curly brackets

dictionary = {"key_1":"value_0",
               "key_2":"value_2",
               "key_3":"value_3"}

dictionary

{'key_1': 'value_0', 'key_2': 'value_2', 'key_3': 'value_3'}

In [29]:
# create a dictionary called 'our_dictionnary'

our_dictionary = {"name":"Derrick",
                  "height":"6'0",
                  "location":"Lost"}
                  
# here "name" is the key and 'Derrick' is the value
our_dictionary

{'name': 'Derrick', 'height': "6'0", 'location': 'Lost'}

In [34]:
# access dictionary by key

print(dictionary["key_1"])

value_0

In [35]:
# change a value by key

dictionary["key_1"] = "value_1"
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3'}

In [36]:
# add an element to dictionary

dictionary["eye color"] = "blue"
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3', 'eye color': 'blue'}

In [37]:
# remove element
dictionary.pop("eye color")
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3'}

## Dictionary Practice ***

In [ ]:
# create a dictionary "my_dictionary"
# 1st key: 'names'
# values of 1st key: ['Anna', 'John', 'Matt']
# 2nd key: 'age'
# values of 2nd key: [23, 42, 12]

# 10.&nbsp;DataFrame

The dataframe is like a table with 2 dimensions, where you have columns and rows

In [39]:
dataframe = {"name":['Jess', 'Nick', 'Winston', 'Tom', 'Alex'],
              "age":['30', '35', '40', '27', '52'],
              "city":['Paris', 'Berlin', 'Madrid', 'Paris', 'London'],
             "country": ['France', 'Germany', 'Spain', 'France', 'UK']}

dataframe

{'name': ['Jess', 'Nick', 'Winston', 'Tom', 'Alex'],
 'age': ['30', '35', '40', '27', '52'],
 'city': ['Paris', 'Berlin', 'Madrid', 'Paris', 'London'],
 'country': ['France', 'Germany', 'Spain', 'France', 'UK']}

In [38]:
# import pandas package

import pandas as pd

More about pandas package https://pandas.pydata.org/

In [41]:
# create a dataframe

# load the the dictionary into a dataframe
df1 = pd.DataFrame(dataframe)

df1

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

In [42]:
# visualize the first 3 rows of df

df1.head(3) # please note that the row index start at 0

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain

In [43]:
# visualize the last 3 rows of df

df1.tail(3) # please note that the row index start at 0

      name age    city country
2  Winston  40  Madrid   Spain
3      Tom  27   Paris  France
4     Alex  52  London      UK

In [44]:
# df dimensions

df1.shape #retunr nb of rows, and nb of columns

(5, 4)

In [45]:
# nb of rows

df1.shape[0]

5

In [46]:
len(df1)

5

In [ ]:
# nb. of columns
df1.shape[1]

In [47]:
len(df1.columns)

4

In [48]:
# get df columns

df1.columns

Index(['name', 'age', 'city', 'country'], dtype='object')

In [50]:
# 1st column index: starts at 0

df1.columns[0]

'name'

## Locations: .iloc & .loc

In [49]:
# access values by column name

df1['age']

0    30
1    35
2    40
3    27
4    52
Name: age, dtype: object

TO access values from dataframe we use **.iloc** and **.loc** attributes

**.iloc**

The pandas.DataFrame.iloc attribute is used to access elements from a pandas DataFrame using the integer position. 

The .iloc attribute allows inputs like an integer value, a list of integer values, and a slicing object with integers, and boolean array, etc.

The attribute will raise an IndexError if the requested index is out of bounds, except for the slicing indexer object.

iloc[row_position, column_position]

In [51]:
print(df1)
print('')

# acces 1st row with .iloc
df1.iloc[0] # a sing argument

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

name         Jess
age            30
city        Paris
country    France
Name: 0, dtype: object

In [52]:
print(df1)
print('')

# acces the last row with .iloc
df1.iloc[-1]

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

name         Alex
age            52
city       London
country        UK
Name: 4, dtype: object

In [53]:
# accessing a single element by index with .iloc attribute

print(df1)
print('')
print('the 1st element of df is: ', df1.iloc[0, 0])

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

the 1st element of df is:  Jess

In [56]:
# accessing the last element of the df
df1.iloc[-1, -1]

'UK'

In [57]:
# return element with value 40

print(df1)
print('')
df1.iloc[2,1] # row index 2 and col index 1

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

'40'

In [58]:
# out of bounds index
df1.iloc[12,2]

IndexError: ignored

In [59]:
print(df1)
print('')

# accessing a range of values by index
df1.iloc[:3, 1:3] # all elements till the 2nd row (not included) and columns from 1 to 3 (where 3 not included)

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

  age    city
0  30   Paris
1  35  Berlin
2  40  Madrid

**.loc**

The .loc is an attribute of the pandas.DataFrame. it is used to access elements from DataFrame based on row/column label indexing.

loc[row_label, column_label]

In [60]:
# the rows have indices, but no labels

print(df1.shape)

df1

(5, 4)

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

In [61]:
# reset the index of df, use the column name as index

df1 = df1.set_index('name')
print('the new shape of df1 is: ', df1.shape)
print('')
df1

the new shape of df1 is:  (5, 3)

        age    city  country
name
Jess     30   Paris   France
Nick     35  Berlin  Germany
Winston  40  Madrid    Spain
Tom      27   Paris   France
Alex     52  London       UK

In [ ]:
# access an element by labels

print(df1)
print('')
print('The country of Nick is: ... ')
df1.loc['Nick', 'country']

In [ ]:
# access a range of elements by labels
print(df1)
print('')
print('The countris of Nick and Winston is: ... ')
df1.loc['Nick':'Tom', 'country']

In [ ]:
# the country of specific rows

df1.loc[['Alex', 'Nick'], 'country']

In [ ]:
# the country and city of specific rows

df1.loc[['Alex', 'Nick'], ['country', 'city']]

More about locations https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79

https://www.tutorialspoint.com/how-to-access-pandas-dataframe-elements-using-the-loc-attribute

https://www.tutorialspoint.com/how-to-access-pandas-dataframe-elements-using-the-iloc-attribute

## Filter

In [62]:
# filter all data that are in Paris

df1[df1['city']=='Paris']

     age   city country
name
Jess  30  Paris  France
Tom   27  Paris  France

## Join dataframes

In [63]:
dataframe_1 = {"prnom":['Matthew', 'Philippe'],
              "age":['32', '45'],
              "city":['London', 'London'],
               "pays": ['UK', 'UK']}

df2 = pd.DataFrame(dataframe_1)

df2.head()

     prnom age    city pays
0   Matthew  32  London   UK
1  Philippe  45  London   UK

In [64]:
print(df2.columns)

Index(['prnom', 'age', 'city', 'pays'], dtype='object')

In [65]:
# change df columns

df2.columns = ['name', 'age', 'city', 'country']
df2.head()

       name age    city country
0   Matthew  32  London      UK
1  Philippe  45  London      UK

In [66]:
#compare both dfs column names

print('the column names of 1st df are: ', df1.columns)
print('the column names of 2nd df are: ', df2.columns)

the column names of 1st df are:  Index(['age', 'city', 'country'], dtype='object')
the column names of 2nd df are:  Index(['name', 'age', 'city', 'country'], dtype='object')

In [67]:
# join the dfs into a single one

# concatenate all df into a single one
df = pd.concat([df1, df2]) # it will use the column names  to join by

# check dataframes shapes
print('the df1 Shape is : ', df1.shape)
print('the df2 Shape is : ', df2.shape)
print('the new joined Dataframe Shape is : ', df.shape)
print('')

# visualize the new df
print('')
print('The output is not what reall wanted as we have NaN values in name columns and not all indices are the names...')
df

the df1 Shape is :  (5, 3)
the df2 Shape is :  (2, 4)
the new joined Dataframe Shape is :  (7, 4)


The output is not what reall wanted as we have NaN values in name columns and not all indices are the names...

        age    city  country      name
Jess     30   Paris   France       NaN
Nick     35  Berlin  Germany       NaN
Winston  40  Madrid    Spain       NaN
Tom      27   Paris   France       NaN
Alex     52  London       UK       NaN
0        32  London       UK   Matthew
1        45  London       UK  Philippe

In [ ]:
# to be obtain a homogeneous df we need both dfs to be structured the same
# use name column as df index for df2 as df1 did

df2 = df2.set_index('name')
df2.head()

In [ ]:
# join the dfs into a single one

# concatenate all df into a single one
df = pd.concat([df1, df2]) # it will use the column names  to join by

# check dataframes shapes
print('the df1 Shape is : ', df1.shape)
print('the df2 Shape is : ', df2.shape)
print('the new joined Dataframe Shape is : ', df.shape)
print('')

# visualize the new df
print('')
print('Now we have a homogeneous df')
df

## Add columns or rows

In [ ]:
# add region a column region where all alues will be 'Europe'

df['region'] = 'Europe'
df

In [ ]:
# add a column salary, with respective values
# please keep in mind that the length has to be the same

salary = ['40000', '45000', '50000', '55000', '60000', '65000', '70000'] # the list has to have the same nb of element as the nb of rows

df['salary']= salary

print(df.shape)
df

In [ ]:
# add a new row
df.loc['John']= [40, 'New York','USA', 'North America', '75000']
df

## Modify the df

In [ ]:
# Philippe moved to Paris and we want to update the df

df.loc['Philippe', ['city', 'country']] = ['Paris', 'France']
df

In [ ]:
# Philippe moved back  to London and even got a promotion and we want to update the df

df.iloc[6, [1, 2, 4]]= ['London', 'UK', '80000'] 

df

## Explore df

In [ ]:
# general info of df

df.info()

In [ ]:
# salary and age are object dtype, but we want it as numeric

# convert column of a DataFrame
df["age"] = pd.to_numeric(df["age"])
df["salary"] = pd.to_numeric(df.salary)
df.info()

In [ ]:
# df describe

df.describe()

In [ ]:
# distinct cities

df.city.unique()

In [ ]:
# number of distinct cities
len(df['city'].unique())

## Groupby

In [ ]:
#check the mean age by city
df.groupby(by=["city"])['age'].mean()

In [ ]:
# #check the total salary by city
df.groupby(by=["city"])['salary'].sum()

In [ ]:
# group by 2 variables

df.groupby(by=['region', "country"])['salary'].mean()

## Pivot

Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame

More about pivot function in python https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

In [ ]:
# create a table that contains data about some packaging

# the Box can be of wood or paper
# in colors red or blue
# of size small or large
# with thier respective quantity and weight

table = pd.DataFrame({"Box": ["wood", "wood", "wood", "wood", "wood",
                         "paper", "paper", "paper", "paper"],
                   "Color": ["red", "red", "red", "blue", "blue",
                         "red", "red", "blue", "blue"],
                   "Size": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "Qty": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "Weigth": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

table

In [ ]:
# import numpy module that help to work with numerical datatypes

import numpy as np

MOre about numpy package https://numpy.org/

In [ ]:
# pivot table dataframe, to get the sum of Qty by Box and Color (rows), and split by Size (columns)

pivot = pd.pivot_table(table, # data to pivot
                       values='Qty', # column to aggregate
                       index=['Box', 'Color'], # Grouper, Keys to group by on the pivot table index.
                       columns=['Size'], # Keys to group by on the pivot table column., will be the columns value
                       aggfunc=np.sum)# the aggregation function

pivot

## DataFrame Practice ***

In [ ]:
# create a dataframe df from data

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Phd', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame and call it df1
# df1 = ????

# display the first 2 rows of df1

# display the last rows of the df1

# what are the dimensions of df1

# how many rows ?

# how many columns

# what are the name of the columns

# return the name of the second columns

####  Locations -----------

# access the 2nd row

# return the data with .iloc

'''
Age  Adress 
24   Kanpur
22   Allahabad
'''

# return the data with .loc

'''
Age  Adress 
24   Kanpur
22   Allahabad
'''

# return qualification for 'Jai' to 'Anuj' with .loc (!!! reset the index)



# return the qualification and city for 'Jai' , 'Anuj', 'Gaurav' with .loc

####  Filter -------------

# access the only the data where Qualification is Phd

#### Join dfs ---------

# create another dataframe df2

# Define a dictionary containing employee data
data = {'Name':['Matt', 'Joe'],
        'Age':[65, 43 ],
        'Address':['Monge', 'Chatelet'],
        'Qualification':[ 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame and call it df2
#df2 = ????

# joinf df1 and df2 into a new dataframe df
#df = ???

# check the dimension of the new joined df


#### Modify df ----------

# add a new row ['Calib', '34', 'Monge', 'Phd]

# Matt changed the address to 'LA Dfense' or 'La Dfense' , update the data frame with .iloc (LA Dfense) and loc (La Dfense)

#### Explore df ------------

# what data type are columns

#### Filter ----

 # filter data of people that have Phf

#### Groupby -----------

# what's the average age of people that have Phd

#### Pivot -----------

# create a pivot table where rows are the qualifications and names, columns their adress, and values in the pivot table is the mean age

## hint
# first import numpy package as np
# use pd.pivot_table() with necessary arguments

# 11 Loops

##  FOR

A **for** loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc

In [ ]:
# visualize code execution
# https://pythontutor.com/python-debugger.html

# create a list of groceries
groceries = ['Apple','Orange', 'Banana', 'Kiwi']

groceries

the syntax of a 'for loop':


**for** element **in** list:   
 _____*do something *

It's like saying : for each element in the list, do something with it

In [ ]:
# iterate through list to access/print each element of the list
for item in groceries:
    print(item)

In [ ]:
# we can iterate with condition

numbers = [-2, 4, -1, 8, 10]

# if element is positive then...
# devide each element in the list by 2
# else, print that this number is not positive

for number in numbers:
  if number > 0:
      print(number/2)
  else:
    print('this number is not positive')

In [ ]:
# we can iterate through a chain of strings

string = 'ilovepython'

for letter in string:
  print(letter)

In [ ]:
# iterate through a chain of strings and do something

vowels = ['a', 'e', 'i', 'o', 'u']

# iterate through the string 'ilovepython' and if the letter is a vowel then print it in CAPITALS with function upper()
for letter in string:
  if letter in vowels:
    print(letter.upper())
  else:
    print(letter)

Nested LIsts

In [ ]:
# iterate through nested lists

fruit_list = [['Apple', 4],['Orange', 2],['Banana', 6],['Kiwi', 5]]
fruit_list

In [ ]:
# access 1 element from the second item ("2")
fruit_list[1][1]

In [ ]:
# return 'Banana:

# fruit_list[???] # the element  ['Banana', 6]

fruit_list[2][0] # only the sub_element 'Banana'

In [ ]:
for element in fruit_list:
    print(element)

In [ ]:
# sometimes you'll need to access each element in a nested list and store them in a flat list (regular list) 

# iterate through nested lists
# accesst each element and sore it as a flat list
# the expected output: ['Apple', 4, 'Orange', 2, 'Banana', 6, 'Kiwi', 5]

# create a copy of fruit_list called copy_list wtth copy() function

copy_list = fruit_list.copy()
print(copy_list)
print('')

# creat an empty list where we'll store all elements

flat_list = [] # empty list
print(flat_list)
print('')

for sublist in copy_list:
    for item in sublist:
        flat_list.append(item)

print(flat_list)

In [ ]:
# another syntax to get the same result
# iterate through a nested loop 
flat_list = [item for sublist in l for item in sublist]
flat_list

## WHILE

With the while loop we can execute a set of statements as long as a condition is true

In [ ]:
# as long i is less then 10, print i

i = 1
while i < 10:
  print(i)
  i += 1 # increment by 1

In [ ]:
# exit when i gets to 4

i = 1
while i < 10:
  print(i)
  if i == 4:
    break
  i += 1

## Loops Practice ***

In [ ]:
# Create a list "numbers"

numbers = [0, -2, , 3, 4, -1, 8, -5]

# write a code (using for loop),  to iterate through the lis numbers
 # to multiply each element of the list by 3, if this element > 0,
 #  multiply by 2 if element is < 0,
 # and return 0 if element is 0

# 12.&nbsp;Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

More about functions https://www.w3schools.com/python/python_functions.asp

In [ ]:
# create a function called operation
# the syntax of a function is the keyword def, name of the function, the parameters to use, and the action of the function

# write a function operation, when given the parameter x, would add + 2.6 to it, and then devided by 5.5
# store the output int a variable "result"
# and print out the output

def operation(x):
    result = (x + 2.6)/5.5
    print(round(result, 2))


operation(10)

Body Fat Calculator

In [ ]:
# compute body fat

height = 165 # in inches (devide cm by 2,54)
weight = 110 # in pounds (multiply kg by 2,205))

# CALCULATE YOUR BODY MASS INDEX (BMI)
bmi = (weight/(height**2) ) * 703 # conversion factor of 703
bmi

In [ ]:
# create a function called bmi that would automatically compte the body fat 

def bmi(height,weight):
  bmi= (weight/(height**2) ) * 703 
  print('your Body Mass Index is ', round(bmi, 2))

In [ ]:
bmi(168, 66)

In [ ]:
bmi(height=65,weight=110)

*Body Fat Percentage for women*

In [ ]:
def bfp_women(bmi, age):
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 5.4
  print(body_fat_pct)

bfp_women(bmi= 18.3, age = 30)

*Body fat diagnos for women*

Women diagnosis:

20-40 yrs old: 


> 
Underfat: under 21 percent, Healthy: 21-33 percent, Overweight: 33-39 percent, Obese: Over 39 percent

41-60 yrs old:

> 

Underfat: under 23 percent, Healthy: 23-35 percent, Overweight : 35-40 percent Obese: over 40 percent 


61-79 yrs old:

> 

Underfat: under 24 percent, Healthy: 24-36 percent, Overweight: 36-42 percent, Obese: over 42 percent Men:

In [ ]:
def bfp_women_diagnosis(height, weight, age):
  bmi = (weight/(height**2) ) * 703
  body_fat_pct = round(((1.20 * bmi) + (0.23 * age) - 5.4),2)
  if age <=40:
     if body_fat_pct < 21:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 21 and bmi < 33:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 33 and bmi < 40:
        print('your fat percentage  is: ',  body_fat_pct, "you are overweight")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")
  if age > 40 and age <=60:
     if body_fat_pct < 23:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 23 and bmi < 35:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 35 and bmi < 40:
        print('your fat percentage  is: ',  body_fat_pct, "you are overweight")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")
  if age > 60:
     if body_fat_pct < 24:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 24 and bmi < 36:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 36 and bmi < 42:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")

bfp_women_diagnosis(65, 180, 30)

*Body Fat Percentage for men*

In [ ]:
def bfp_men(height, weight, age):
  bmi  = (weight/(height**2) ) * 703
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 16.2
  print(body_fat_pct)

bfp_men(height= 69, weight= 170, age = 40)


Men:

20-40 yrs old: 
> Underfat: under 8 percent, Healthy: 8-19 percent, Overweight: 19-25 percent, Obese: over 25 percent

41-60 yrs old:

> Underfat: under 11 percent, Healthy: 11-22 percent, Overweight: 22-27 percent, Obese: over 27 percent

61-79 yrs old:

> Underfat: under 13 percent, Healthy: 13-25 percent, Overweight: 25-30 percent, Obese: over 30 percent

## Function Practice ***

*   write a function **bfp_men_diagnosis()** that would calculate the bfp for men and would do tha diagnosis 
*   write a function **bfp_diagnosis()** that would calculate the bfp would do tha diagnosis, no matter women or men giving arguments (height= , weight= , age = , gender = )